* {
    margin 0px
    padding 0px
}

ul {
    list-style none
}

a {
    text-decoration none
    cursor pointer
}

.clearfix {
    clear both
}

body{
    background-color: #eee;
}

.none{
    display none
}